.widget_nav_menu {
  ul {
    list-style: none;
    padding: 0;
    @media #{$xs} {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      // @media #{$sm} {
      //   display: block;
      //   width: 100%;
      // }
      a {
        text-transform: uppercase;
        font-size: 0.825rem;
        font-weight: 400;
        margin: 1rem 0.3125;
        color: $light-black;
        @media #{$xs} {
          padding: 0.325rem;
        }
        &:hover {
          color: $main;
        }
      }
    }
  }
}
