// Index
.page-content-index {
  display: flex;
  @media #{$sm} {
    flex-wrap: wrap;
  }
  .page-main-content {
    width: 80%;
    padding-right: 50px;
    @media #{$sm} {
      width: 100%;
      padding-right: 0px;
    }
  }
  .page-sidebar {
    width: 20%;
    @media #{$sm} {
      width: 100%;
    }
  }
}
.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
// Post Cart
.post-content--hover {
  &:hover {
    .col:nth-child(1) {
      .entry-data {
        background-color: darken($main-sec, 10%);
        transform: translateY(0);
      }
      .entry-info {
        transform: translateY(-0.438rem);
      }
    }
    .col:nth-child(2) {
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.047);
      .img {
        img {
          transform: scale(1.05);
        }
      }
      h2 {
        color: $main;
        transition: all 250ms;
      }
      .readmore {
        margin-right: 0.625rem !important;
      }
    }
  }
}
.post-content {
  margin-bottom: 1.25rem;

  transition: all 250ms;
  .wraper {
    display: flex;
    @media #{$sm} {
      flex-wrap: wrap;
    }

    .col:nth-child(1) {
      width: 28%;
      min-width: 11.25rem;
      text-align: right;
      padding: 0 2.5rem 0 0;
      @media #{$sm} {
        padding: 0;
      }
    }
    .col:nth-child(2) {
      width: 80%;
      @media #{$sm} {
        width: 100%;
      }
      .entry {
        padding: 0.625rem;
      }
      h2 {
        font-size: 1.125rem;
      }
      p {
        font-size: 0.875rem;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
        transition: all 250ms;
        transform-origin: top right;
      }
      .img {
        display: block;
        overflow: hidden;
      }
      .readmore {
        display: flex;
        justify-content: flex-end;
        margin-right: 1.25rem;
        transition: all 250ms;
      }
    }
  }
}

.entry-data {
  background-color: $main-sec;
  padding: 1.25rem 1.25rem 0 1.25rem;
  text-align: center;
  transition: all 350ms;
  transform: translateY(0.438rem);
  .wraper-data {
    background-color: #fff;
    padding: 1.25rem 1.25rem 0 1.25rem;
    &:after {
      content: "";
      display: block;
      width: 50%;
      height: 1px;
      background-color: $main-sec;
      margin: 0 auto;
    }

    span {
      display: block;
      color: $black;
      font-size: 60px;
      font-weight: 900;
      margin: 0.725rem 0;
    }
    small {
      display: block;
      color: $main-tir;
      margin-bottom: 1.25rem;
      //   font-weight: 1.25rem;
    }
  }
}

.entry-info {
  max-width: 190px;
  padding-right: 2.5rem;
  font-size: 0.7rem;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.25rem;
  transition: all 250ms;
  svg {
    max-width: 12px;
    margin-right: 5px;
  }
  a {
    color: $light-black;
  }
  a .cat,
  .author,
  .cat,
  .coments-num {
    width: 100%;
    display: block;
    color: $light-black;
    display: flex;
    align-items: center;
    justify-content: right;
  }
}
